.btn {
	display: flex;
	align-items: center;
	column-gap: 0.3rem;
	font-weight: 500;
	font-size: 1.4rem;
	background-color: transparent;

	outline: none;
	border: none;
	border-radius: 1rem;
	padding: 1rem 1.2rem;
	cursor: pointer;
}

.btn.disabled {
	cursor: not-allowed;
}

.btnPrimary {
	background-color: #8664fc;
	/* background-image: linear-gradient(to right, #8664fc, #5ed9e7); */
}

.btnAccent {
	background-color: var(--color-accent);
	background-color: #dff0ff;
}

.btnPrimary a {
	font-size: 1.6rem;
	color: #ede8fc;
}

.btnPrimary svg {
	color: #8664fc;
	background: #ede8fc;
	border-radius: 0.2rem;
}

.btnOutline {
	border: 1px solid var(--bg-gray);
}
