.sidebar {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;

	height: 100vh;
	width: 24rem;
	padding: 1rem;
	/* background-color: rgb(255, 255, 255); */
}

h2 {
	margin-bottom: 1rem;
}

a {
	font-weight: 400;
	text-decoration: none;
	color: var(--color-text);
}

ul {
	list-style: none;
	padding: 1rem;
}

.tickets ul li {
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.tickets li span {
	margin-left: 1rem;
}
