.notes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.note:nth-child(even) {
  transform: translateX(4rem);
}

.note {
  width: 50rem;
  border: 1px solid rgb(240, 240, 240);
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.noteDate {
  color: var(--light-gray);
}
