.normal {
  /* -light-lim: #d0fdc8;
  --light-blue: #38b6ff;
  --dark-red: #ff3306;
  --color-orange: #ff6838;
  --light-red: #fdf1f1; */
  background-color: var(--light-lim);
  color: var(--dark-green);
  font-weight: 500;
}
.low {
  background-color: var(--bg-light-gray);
  color: var(--dark-gray);
  font-weight: 500;
}
.high {
  background-color: var(--light-red);
  color: var(--color-orange);
  font-weight: 500;
}
