.container {
  background-color: var(--bg-light-gray);
  /**TODO: remove height **/
  height: 100vh;
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 24rem 1fr;
}

.container h1 {
  font-weight: 400;
}

.container p {
  color: var(--secondary-color);
}
