.userForm {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-light-gray);
  width: 70rem;
  padding: 2rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.group {
  width: 100%;
}

.formGroup {
  display: flex;
  column-gap: 2rem;
}

.formGroup input,
select {
  width: 30rem;
  font-size: 1.6rem;
  font-family: "Fredoka", sans-serif;
  color: inherit;

  height: 5rem;
  outline: none;
  padding: 1.5rem;
  border: 1px solid var(--bg-gray);
  border-radius: 5px;
  margin-bottom: 2rem;
}
